@font-face {
  src: url("../fonts/Qwigley-Regular.ttf");
  src: url("../fonts/Qwigley-Regular.ttf") format("embedded-opentype"), url("../fonts/Qwigley-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

/* CUSTOMIZE THE CAROUSEL -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */ }
  .carousel .carousel-caption {
    z-index: 10;
    bottom: 15%; }
    .carousel .carousel-caption h1 {
      font-size: 1.5rem;
      color: #fff;
      display: inline-block;
      margin-top: 5px;
      text-align: center;
      padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px; }
    .carousel .carousel-caption .btn-outline-primary {
      color: #212121;
      border-color: #212121;
      border-width: 1px;
      border-style: solid;
      margin-top: 5px;
      margin-bottom: 25px; }
      .carousel .carousel-caption .btn-outline-primary:focus, .carousel .carousel-caption .btn-outline-primary:hover {
        color: #fff;
        background-color: 	#000066;
        border-color: #706066;
        border-width: 2px;
        border-style: solid; }
  .carousel .carousel-inner .carousel-item {
    height: 100vh;
    width: 100%; }
    .carousel .carousel-inner .carousel-item .slide {
      background-color: 	 #1a0000;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: inherit; }

#new-music .new-music-header h1 {
  color: #9e9e9e;
  font-size: 2.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center; }

#new-music .new-music-releases h1 {
  color: #9e9e9e;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center; }

#new-music .new-music-releases h5 {
  color: #fff;
  letter-spacing: 2px;
  text-align: center; }

#new-music .new-music-releases p {
  text-align: center; }

#new-music .new-music-releases img {
  margin-bottom: 25px; }

#new-music .new-music-releases .btn-primary-outline {
  color: #9e9e9e;
  border-color: #9e9e9e;
  border-width: 1px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 25px; }
  #new-music .new-music-releases .btn-primary-outline:focus, #new-music .new-music-releases .btn-primary-outline:hover {
    color: #fff;
    background-color:  #660000;
    border-color:  #660000;
    border-width: 2px;
    border-style: solid; }

#music-videos .music-videos-header {
  background-color: #212121; }
  #music-videos .music-videos-header h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center; }

#music-videos .tee-gallery {
  background-color: #212121;
  padding-top: 80px;
  padding-bottom: 0px; }
  #music-videos .tee-gallery h1 {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center; }
  #music-videos .tee-gallery h5 {
    color: #fff;
    letter-spacing: 2px;
    text-align: right; }
  #music-videos .tee-gallery p {
    text-align: center; }
  #music-videos .tee-gallery hr {
    margin-bottom: 2.5rem; }
  #music-videos .tee-gallery img {
    margin-bottom: 25px; }
  #music-videos .tee-gallery .btn-primary-outline {
    color: #f0ad4e;
    border-color: #f0ad4e;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 25px; }
    #music-videos .tee-gallery .btn-primary-outline:focus, #music-videos .tshego-youtube .btn-primary-outline:hover {
      color: #fff;
      background-color: #212121;
      border-color: #212121;
      border-width: 2px;
      border-style: solid; }

.tee-gallery{
  background-color: black;
}

#footer {
  background-color: #fff; }
  #footer .site-footer {
    padding-top: 20px; }
    #footer .site-footer p {
      color: #9e9e9e;
      font-size: 0.8rem;
      margin-bottom: inherit;
      padding-bottom: 1rem; }
